html
	head
		title Welcome
		script(src='javascript/min.js')
		link(rel='stylesheet', href='../public/stylesheets/style.css')
	body
		#content
			img(src='images/logo.png')
			p WELCOME
			#smile
	body Welcome!
